html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
height: 100%;
position: relative;
}

/* Hamburger Menu */
.hamContainer {
    cursor: pointer;
    display: inline-block;
}

.bar1, .bar2, .bar3 {
    background-color: #333;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
    width: 35px;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    -ms-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    -ms-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

input {
font-size: 12px;
}

h1 {
color: #525454;
font-size: 22px;
margin: 0 0 10px 0;
text-align: center;
}

hr {
background: #D0D7D9;
height: 1px;
margin: 20px 0 20px 0;
border: none;
}

#map {
bottom:0px;
height: 100%;
position: absolute;
right: 0px;
width: 100%;
}

.map-right {
    left: 362px;
}

.map-left {
    left: 57px;
}

.options-box {
background: #fff;
border: 1px solid #999;
border-radius: 3px;
height: 100%;
line-height: 35px;
padding: 10px 10px 30px 10px;
text-align: left;
width: 340px;
z-index: 1;
}

.closed {
height: 20px;
width: 35px;
}

.text {
font-size: 12px;
}

#toggle-drawing {
width: 27%;
position: relative;
margin-left: 10px;
}

#zoom-to-area-text {
width: 70%;
}

#zoom-to-area {
width: 24%;
}

input {
    width: 90%;
}

li {
    list-style: none;
}

.hover {
    background-color: silver;
}
